<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="form-group">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <label for="url"></label>
                <input
                  type="text"
                  id="url"
                  name="url"
                  class="form-control"
                  placeholder="URL"
                  ngModel
                  required
                >
                <label for="name"></label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="name"
                  ngModel
                  required
                >
                <div class="col-md-6 add-category">
                  <a [routerLink]="id" (click)="addCategory()">
                    <span class="oi oi-plus"> Add Category</span>
                  </a>
                  <br>
                  <app-add-category *ngFor="let category of categories; let i = index" [index]="i" [id]="category.id" (categoryValue)="onSelected($event)"></app-add-category>
                  <br>
                </div>
                <br>
                <button class="btn btn-primary btn-lg col-md-12" type="submit">OK</button>
            </form>
      </div>
    </div>
  </div>
</div>  
<app-data-table [gridData]="gridData" [rowDatasHeader]="rowHeader" [categoryDatas]="categoryDatas" *ngIf="isSubmited"></app-data-table>