
<div class="container">

<div class="row justify-content-md-center">
  <div class="col-md-8">

<table class="table table-striped table-sm table-dark">
  <thead>
    <tr>
      <th *ngFor="let rowDataHeader of rowDatasHeader">{{ rowDataHeader.url }} {{ rowDataHeader.name  }} {{ rowDataHeader.category }}</th>
      <!-- <th *ngIf="rowDataHeader.name"></th>
      <th *ngIf="rowDataHeader.category"></th> -->
    </tr>
  </thead>
  <tbody>
      
    <tr *ngFor="let rowData of rowDatas">
      <td>
        {{ rowData.fields.url }}
      </td>
      <td>
        {{ rowData.fields.name }}
      </td>
      <td *ngFor="let category of categoryDatas; let i of index">
        <app-category [gridCategoryData]="category"></app-category>
      </td>
      </tr>
      
    
  </tbody>
</table>
</div>
</div>
</div>