{% extends "base.html" %}


{% block content %}
    <div class="ui center aligned container">
        <!-- References -->
        <h1 class="ui header">References catalogue</h1>
        <div class="ui basic segment">
            <div class="ui relaxed divided list">
                {% for reference in references %}
                    <div class="item">
                        <i class="linkify aligned icon"></i>
                        <div class="content">
                            <a class="header" target="_blank" href="{{ reference.url }}">{{ reference.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Add reference -->
        <h2 class="ui header">Add new references</h2>
        <form method="post">{% csrf_token %}
            {{ form }}
            <input type="submit" value="OK">
        </form>

    </div>
{% endblock %}

