.add-category {
    margin-top: 5%;
}

.category {
    height: 50px;
}
.add-reference, .delete-reference {
    height: 50px;
    border-radius: 15px;
}

.category-text { 
    color: white;
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-header {
    background-color: rgba(198, 178, 236, 0.315);
}

.url-forward {
    display:table-cell;
    vertical-align:middle;
}

.url-forward-parent {
    display:table;
}

.add-item {
    border-style: groove;
    border: 2px solid lightblue;
    border-radius: 15px;
}